[project]
	description = stanford machine learning course on coursera.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/williamseto
[access "refs/for/refs/*"]
	read = group user/williamseto
	push = group user/williamseto
	label-Code-Review = -2..+2 group user/williamseto
	label-Verified = -1..+1 group user/williamseto
	rebase = group user/williamseto
	removeReviewer = group user/williamseto
	submit = group user/williamseto
[access "refs/heads/*"]
	read = group user/williamseto
	create = group user/williamseto
	push = +force group user/williamseto
	pushMerge = group user/williamseto
[access "refs/tags/*"]
	push = +force group user/williamseto
	pushTag = group user/williamseto
	pushSignedTag = group user/williamseto
